{% extends 'base.html' %}
{% load static %}

{% block content %}



<div>
    <p class="text-center my_search_text">"{{ query }}"에 대한 검색 결과</p>
</div>

<hr>


{% comment %} <select onchange="location = this.value;">
    <option value="?sort=likes" {% if request.GET.sort == 'likes' %}selected{% endif %}>인기순</option>
    <option value="?sort=created" {% if request.GET.sort == 'created' %}selected{% endif %}>최신순</option>
</select> {% endcomment %}

<br><br><br>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
                <div class="col">
                    <a href="{% url 'products:product_detail' product.pk %}">
                        <div class="card shadow-sm">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="bd-placeholder-img card-img-top" style="width=" 100%"; style="width=" 100%"; height="225px" ;">
                        {% else %}
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="플레이스홀더: 썸네일" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <a href={% url 'products:product_detail' product.pk %}><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">상품이미지가 없습니다</text></a>
                        </svg>

                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"><strong>{{ product.author.username }}</strong> | {{product.title}}</font>
                            </font>
                            </p>
                            </a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary" onclick="event.stopPropagation();">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                        <form action="{% url "products:like" product.pk %}" method="POST">
                                        {% csrf_token %}
                                        {% if request.user in product.like_users.all %}
                                        <input type="submit" value="좋아요 취소">
                                        {% else %}
                                        <input type="submit" value="좋아요">
                                        {% endif %}
                                        </form>
                                    </font>
                                    </font>
                                </button>
                                <li>{{ product.name }} {{ product.total_likes }} likes</li>
                                </div>
                                <small class="text-body-secondary">
                                    <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">{{ product.created_at|timesince }} 전</font>
                                    </font>
                                </small>
                            </div>
                    {% comment %} <h4>{{product.title}}</h4> {% endcomment %}
                    <p>{{product.price}}999999999원</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="d-flex justify-content-between align-items-center">
                <p class="text-center my-search_text">0 result found.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% comment %} .my_search_text {
    padding-top: 20px
} {% endcomment %}