{% extends 'base.html' %}
{% load static %}

{% block content %}


<br><br>
<div>
    <p class="text-center my_search_text" >"{{ query }}"에 대한 검색 결과</p>
</div>

<hr>


{% comment %} <select onchange="location = this.value;">
    <option value="?sort=likes" {% if request.GET.sort == 'likes' %}selected{% endif %}>인기순</option>
    <option value="?sort=created" {% if request.GET.sort == 'created' %}selected{% endif %}>최신순</option>
</select> {% endcomment %}

<br><br><br>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% for product in products %}
          <div class="col">
            <a href="{% url 'products:product_detail' product.pk %}">
              <div class="card shadow-sm">
    
                {% if product.image %}
                  <img src="{{ product.image.url }}" class="bd-placeholder-img card-img-top" alt="Product Image">
                {% else %}
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="플레이스홀더: 썸네일" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                      dy=".3em">No image</text>
                  </svg>
                {% endif %}
    
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="views text-muted mb-0" style="font-size: 0.9em;">
                        조회수: {{ product.views }}
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text mb-0">
                        <strong>{{ product.author.username }}</strong> | 
                        <span class="title">{{ product.title|truncatechars:25 }}</span>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center" style="margin-top: -30px;">
                  <p class="card-price mb-0">
                          <strong>{{ product.price }}원</strong>
                      </p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-2">
                      <div class="btn-group">
                          <form action="{% url 'products:like' product.pk %}" method="POST">
                              {% csrf_token %}
                              {% if request.user in product.like_users.all %}
                                  <button type="submit" class="no_outline_btn"><i class="fa-solid fa-heart"></i></button>
                              {% else %}
                                  <button type="submit" class="no_outline_btn"><i class="fa-regular fa-heart"></i></button>
                              {% endif %}
                          </form>
                          <p class="mb-0"><strong>{{ product.name }}_ {{ product.total_likes }} likes</strong></p>
                      </div>
                      <small class="text-body-secondary">
                          <font style="vertical-align: inherit;">{{ product.time_dif }}</font>
                      </small>
                  </div>
              </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>


{% endblock content %}

