{% extends 'base.html' %}

{% block content %}
<br>
<h1>New Products</h1>
<br>
<form action="{% url 'products:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <br>
    <button class="btn btn-outline-secondary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>저장</strong></font></font></button>
</form>

    {% if form.errors %}
        <script type="text/javascript">
            {% if form.price.errors %}
                showError("{{ form.price.errors.0 }}");
            {% endif %}
        </script>
    {% endif %}

<br><br>
<head>
    <a href="{% url 'products:index' %}" onclick="return confirm('정말 취소하시겠습니까?')">취소</a>
</head>



{% endblock content %}