{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>We are Quite market !</h1>

<img src="{% static 'products/*' %}">

<br>


{% if request.user.is_authenticated %}
<a href="{% url 'products:create' %}">
    <button>상품 등록</button>
</a>
<hr>

{% else %}
    <a href="{% url 'accounts:login' %}">
        <button>글 작성하기</button>
    </a>

{% endif %}
<br><br>

<style>
    .product {
        width: 100%;
        object-fit        
    }

    .image-box {
        width: 380px;
        height: 220px;
        overflow: hidden;
    }
</style>


{% for product in products %}

<a href="{% url 'products:product_detail' product.pk %}">
    {% if product.image %}
    <div class="image-box">
        <img src="{{ product.image.url }}" class='product'>
    </div>
    {% endif %}
    <h2>{{ product.author.username }} | {{ product.title }}</h2>
    <p>{{ product.created_at }}</p>
    

</a>

<hr><br>
{% endfor %}


{% endblock content %}