{% extends 'base.html' %} 

{% block content %}

<br><br>

{% if product.image %}
<img src="{{ product.image.url }}">
{% endif %}
<br><br>
<h4><strong>{{ product.author.username }}</strong> | {{ product.title }}</h4><br>
<h5>{{ product.content }}</h5><br>

<form action ="{% url "products:like" product.pk %}" method="POST">
  {% csrf_token %}
  {% if request.user in product.like_users.all %}
  <button type="submit" class='no_outline_btn'><i class="fa-solid fa-heart"></i></button>
  {% else %}
  <button type="submit" class='no_outline_btn'><i class="fa-regular fa-heart"></i></button>
  {% endif %}
  <strong> {{ product.name }}_ {{ product.total_likes }}  likes</strong></p>
</form>
<br><br><br>
<p>{{ product.created_at|timesince }} 전</p>
<p>{{ product.updated_at }}</p>



<br>
<a href="{% url 'index' %}">목록보기</a>

{% if user == product.author %}
<a href="{% url 'products:update' product.pk %}">수정하기</a>
<br><br>

<form action="{% url 'products:delete' product.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?')">
</form>

{% endif %}

{% if request.user.is_authenticated %}
<br>
<hr>
<div>
<h3>댓글 {{ comments|length }}개</h3><br>
<form action="{% url "products:comment_create" product.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="댓글작성">
    {{ comment_form.as_p }}
</form>
</div>
{% endif %}
<hr>
{% for comment in comments %}
<ul>
    <li><strong>{{ comment.user.username }} | </strong>{{ comment.content }} </li>

    {% if user == comment.user %}
    <form action="{% url "products:comment_delete" product.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>
    {% endif %}
    
</ul>

{% empty %}
<br><br>
<p>댓글이 없습니다.</p>

{% endfor %}


{% endblock content %}